<div class="col-md-12">
	<h1>Account</h1>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
	<tabset>
	  	<tab heading="{{user.username}}">
	  		<table class="table">
	  			<tr>
	  				<td>Username</td>
	  				<td>{{user.username}}</td>
	  			</tr>
	  			<tr>
	  				<td>First name</td>
	  				<td>{{user.first_name}}</td>
	  			</tr>
	  			<tr>
	  				<td>Last name</td>
	  				<td>{{user.last_name}}</td>
	  			</tr>
	  			<tr>
	  				<td>Email address</td>
	  				<td>{{user.email}}</td>
	  			</tr>
	  		</table>
		</tab>

		<tab heading="Update info">
			<form role="form" class="form-horizontal" name="update">
		      <div class="form-group" ng-class="{'has-error': update.passwordCheck.$error.match}">
		        <label for="password" class="col-sm-2 control-label">Password</label>
		        <div class="col-sm-10">
		          <div class="form-group row">
		            <div class="col-sm-6">
		              <input ng-model="userUpdate.password" type="password" class="form-control" name="password" id="password" placeholder="Password">
		            </div>
		            <div class="col-sm-6">
		              <input ng-model="userUpdate.checkpassword" type="password" class="form-control" id="checkpassword" name="passwordCheck" placeholder="Password check" match="userUpdate.password">
		              <p class="help-block" ng-show="update.passwordCheck.$error.match">This field needs to match 'Password'.</p>
		            </div>
		          </div>
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="first_name" class="col-sm-2 control-label">Name</label>
		        <div class="col-sm-10">
		          <div class="form-group row">
		            <div class="col-sm-6">
		              <input ng-model="userUpdate.first_name" type="text" class="form-control" id="first_name" name="last_name" placeholder="First name">
		            </div>
		            <div class="col-sm-6">
		              <input ng-model="userUpdate.last_name" type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name">
		            </div>
		          </div>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': update.email.$invalid}">
		        <label for="email" class="col-sm-2 control-label">Email address</label>
		        <div class="col-sm-10">
		          <input ng-model="userUpdate.email" type="email" class="form-control" id="email" name="email" placeholder="Email address" required overwrite-email>
		          <p class="help-block" ng-show="update.email.$error.required && update.email.$dirty">This field is required.</p>
	         	  <p class="help-block" ng-show="update.email.$error.email && update.email.$dirty">This field has to be a correct email address.</p>
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="country" class="col-sm-2 control-label">Country</label>
		        <div class="col-sm-10">
		          <select class="form-control" id="country" ng-model="userUpdate.language">
		            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}} ({{country.locale}})</option>
		          </select>
		        </div>
		      </div>
		      <button type="submit" class="btn btn-primary" ng-click="update.$valid && updateInfo()">Update</button>
		    </form>
		</tab>

		<tab heading="Companies">
			<table class="table">
				<thead>
					<tr>
						<th>Company name</th>
						<th>Logon to company</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="comp in companies">
						<td>{{comp.name}}</td>
						<td><button class="btn btn-default" ng-click="switchToCompany(comp.id_company)">Switch</button></td>
					</tr>
				</tbody>
			</table>
		</tab>

		<tab heading="Delete account">
			Click to delete your account.
			<hr>
			<button class="btn btn-danger" ng-click="delete()">Delete {{user.name}}</button>
		</tab>
	</tabset>
</div>