<div class="col-md-12">
<h1>Contacts</h1>
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
	<tabset>
		<tab heading="All contacts" ng-show="contacts.length" active="allContacts" select="showAllContacts()">
			<input type="text" ng-model="searchContact" ng-change="search(searchContact)" class="form-control" placeholder="Search">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th><th>Edit</th><th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in searchResults" ng-show="searchContact">
						<td>{{result.company}}</td><td><a ng-click="showUpdate(result.id)">Edit</a></td><td><a ng-click="deleteContact(result.id)">Delete</a>
					</tr>
					<tr ng-repeat="cont in contacts" ng-show="!searchContact">
						<td>{{cont.company}}</td><td><a ng-click="showUpdate(cont.id)">Edit</a></td><td><a ng-click="deleteContact(cont.id)">Delete</a>
					</tr>
				</tbody>
			</table>
		</tab>
		<tab ng-show="thisContact.company" heading="Edit {{thisContact.company}}" active="updateClick">
			<form role="form" class="form-horizontal" name="this_contact">
			  <input type="hidden" name="id" ng-model="thisContact.id">
		      <div class="form-group" ng-class="{'has-error': this_contact.company.$error.required}">
		        <label for="company" class="col-sm-2 control-label">Company name</label>
		        <div class="col-sm-10">
		        	<input ng-model="thisContact.company" type="text" class="form-control" name="company" placeholder="Company name">
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': this_contact.first_name.$error.required}">
		        <label for="first_name" class="col-sm-2 control-label">Contact's first name</label>
		        <div class="col-sm-10">
		        	<input ng-model="thisContact.first_name" type="text" class="form-control" name="first_name" placeholder="Contact's first name">
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': this_contact.last_name.$error.required}">
		        <label for="last_name" class="col-sm-2 control-label">Contact's last name</label>
		        <div class="col-sm-10">
		        	<input ng-model="thisContact.last_name" type="text" class="form-control" name="last_name" placeholder="Contact's last name">
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': this_contact.email.$invalid}">
		        <label for="email" class="col-sm-2 control-label">Email address</label>
		        <div class="col-sm-10">
		          <input ng-model="thisContact.email" type="email" class="form-control" name="email" placeholder="Email address" required overwrite-email>
		          <p class="help-block" ng-show="this_contact.email.$error.required && this_contact.email.$dirty">This field is required.</p>
	         	  <p class="help-block" ng-show="this_contact.email.$error.email && this_contact.email.$dirty">This field has to be a correct email address.</p>
		        </div>
		      </div>
		      <div class="form-group">
		        <label for="street_name" class="col-sm-2 control-label">Address</label>
		        <div class="col-sm-10">
		          <div class="form-group row">
		            <div class="col-sm-6">
		              <input ng-model="thisContact.street_name" type="text" class="form-control" name="street_name" placeholder="Streetname">
		            </div>
		            <div class="col-sm-6">
		              <input ng-model="thisContact.house_number" type="text" class="form-control" name="house_number" placeholder="House number">
		            </div>
		          </div>
		        </div>
		      </div>
		      <div class="form-group">
		      	<label for="zipcode" class="col-sm-2 control-label">Zipcode</label>
		      	<div class="col-sm-10">
	              <input ng-model="thisContact.zipcode" type="text" class="form-control" name="zipcode" placeholder="Zipcode">
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="place_name" class="col-sm-2 control-label">City</label>
		      	<div class="col-sm-10">
	              <input ng-model="thisContact.place_name" type="text" class="form-control" name="place_name" placeholder="City">
		      	</div>
		      </div>
		      <div class="form-group">
		        <label for="country" class="col-sm-2 control-label">Country</label>
		        <div class="col-sm-10">
		          <select class="form-control" ng-model="thisContact.id_country">
		            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}} ({{country.locale}})</option>
		          </select>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': IBANError(this_contact.IBAN)}">
		      	<label for="IBAN" class="col-sm-2 control-label">International Bank Account Number (IBAN)</label>
		      	<div class="col-sm-10">
	              <input ng-model="thisContact.IBAN" type="text" class="form-control" id="IBAN" name="IBAN" placeholder="NL01RABO0123456789" ng-iban>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="BIC" class="col-sm-2 control-label">Bank Identifier Code (BIC)</label>
		      	<div class="col-sm-10">
	              <input ng-model="thisContact.BIC" type="text" class="form-control" id="BIC" name="BIC" placeholder="RABONL2U">
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="default_payment_term" class="col-sm-2 control-label">Default payment term</label>
		      	<div class="col-sm-10">
		      	  <div class="input-group">
		              <input ng-model="thisContact.default_payment_term" type="text" class="form-control" name="default_payment_term" placeholder="Default payment term">
		              <div class="input-group-addon">days</div>
		          </div>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="default_auto_reminder" class="col-sm-2 control-label">Default auto reminder</label>
		      	<div class="col-sm-10">
	              <div class="radio">
					<label>
					<input ng-mode="thisContact.default_auto_reminder" type="radio" name="default_auto_reminder" value="true" checked>
					  On
					</label>
				  </div>
				  <div class="radio">
					<label>
					<input ng-mode="thisContact.default_auto_reminder" type="radio" name="default_auto_reminder" value="false">
					  Off
					</label>
				  </div>
		      	</div>
		      </div>
		      <button type="submit" class="btn btn-primary" ng-click="this_contact.$valid && updateContact()">Update {{thisContact.name}}</button>
		    </form>
		</tab>
		<tab heading="New contact" active="noContacts">
			<form role="form" class="form-horizontal" name="new_contact">
		      <div class="form-group" ng-class="{'has-error': new_contact.company.$error.required && new_contact.company.$dirty}">
		        <label for="company" class="col-sm-2 control-label">Company name</label>
		        <div class="col-sm-10">
		        	<input ng-model="newContact.company" type="text" class="form-control" name="company" placeholder="Company name" required>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': new_contact.first_name.$error.required && new_contact.first_name.$dirty}">
		        <label for="first_name" class="col-sm-2 control-label">Contact's first name</label>
		        <div class="col-sm-10">
		        	<input ng-model="newContact.first_name" type="text" class="form-control" name="first_name" placeholder="Contact's first name" required>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': new_contact.last_name.$error.required && new_contact.last_name.$dirty}">
		        <label for="last_name" class="col-sm-2 control-label">Contact's last name</label>
		        <div class="col-sm-10">
		        	<input ng-model="newContact.last_name" type="text" class="form-control" name="last_name" placeholder="Contact's last name" required>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': new_contact.email.$invalid && new_contact.email.$dirty}">
		        <label for="email" class="col-sm-2 control-label">Email address</label>
		        <div class="col-sm-10">
		          <input ng-model="newContact.email" type="email" class="form-control" name="email" placeholder="Email address" required overwrite-email>
		          <p class="help-block" ng-show="new_contact.email.$error.required && new_contact.email.$dirty">This field is required.</p>
	         	  <p class="help-block" ng-show="new_contact.email.$error.email && new_contact.email.$dirty">This field has to be a correct email address.</p>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': (new_contact.street_name.$error.required && new_contact.street_name.$dirty) || (new_contact.house_number.$error.required && new_contact.house_number.$dirty) }">
		        <label for="street_name" class="col-sm-2 control-label">Address</label>
		        <div class="col-sm-10">
		          <div class="form-group row">
		            <div class="col-sm-6">
		              <input ng-model="newContact.street_name" type="text" class="form-control" name="street_name" placeholder="Streetname" required>
		            </div>
		            <div class="col-sm-6">
		              <input ng-model="newContact.house_number" type="text" class="form-control" name="house_number" placeholder="House number" required>
		            </div>
		          </div>
		        </div>
		      </div>
		      <div class="form-group">
		      	<label for="zipcode" class="col-sm-2 control-label">Zipcode</label>
		      	<div class="col-sm-10">
	              <input ng-model="newContact.zipcode" type="text" class="form-control" name="zipcode" placeholder="Zipcode" required>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="place_name" class="col-sm-2 control-label">City</label>
		      	<div class="col-sm-10">
	              <input ng-model="newContact.place_name" type="text" class="form-control" name="place_name" placeholder="City" required>
		      	</div>
		      </div>
		      <div class="form-group">
		        <label for="country" class="col-sm-2 control-label">Country</label>
		        <div class="col-sm-10">
		          <select class="form-control" ng-model="newContact.id_country">
		            <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}} ({{country.locale}})</option>
		          </select>
		        </div>
		      </div>
		      <div class="form-group" ng-class="{'has-error': IBANError(new_contact.IBAN)}">
		      	<label for="IBAN" class="col-sm-2 control-label">International Bank Account Number (IBAN)</label>
		      	<div class="col-sm-10">
	              <input ng-model="newContact.IBAN" type="text" class="form-control" id="IBAN" name="IBAN" placeholder="NL01RABO0123456789" ng-iban>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="BIC" class="col-sm-2 control-label">Bank Identifier Code (BIC)</label>
		      	<div class="col-sm-10">
	              <input ng-model="newContact.BIC" type="text" class="form-control" id="BIC" name="BIC" placeholder="RABONL2U">
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="default_payment_term" class="col-sm-2 control-label">Default payment term</label>
		      	<div class="col-sm-10">
		      	  <div class="input-group">
		              <input ng-model="newContact.default_payment_term" type="number" class="form-control" name="default_payment_term" placeholder="Default payment term">
		              <div class="input-group-addon">days</div>
		          </div>
		      	</div>
		      </div>
		      <div class="form-group">
		      	<label for="default_auto_reminder" class="col-sm-2 control-label">Default auto reminder</label>
		      	<div class="col-sm-10">
	              <div class="radio">
					<label>
					<input ng-mode="newContact.default_auto_reminder" type="radio" name="default_auto_reminder" value="true" checked>
					  On
					</label>
				  </div>
				  <div class="radio">
					<label>
					<input ng-mode="newContact.default_auto_reminder" type="radio" name="default_auto_reminder" value="false">
					  Off
					</label>
				  </div>
		      	</div>
		      </div>
		      <button type="submit" class="btn btn-primary" ng-click="new_contact.$valid && createNewContact(new_contact)">Create new contact</button>
		    </form>
		</tab>
	</tabset>
</div>